body{
	text-align: center;
	color: #40514E;
	margin: 0;
	font-family: 'GreatVibes',serif;
}
.topcontainer{
	background-color: #E4F9F5;
	text-align: center;
	padding-top: 100px;
}
h1{
	font-family: 'Great Vibes', cursive;
	font-size: 562.5%; 
	margin: 50px auto 0 auto;
	color: #66BFBF;
	line-height: 1;
}
h2{
	font-size: 2.5rem;
	color: #66BFBF;
	padding-bottom: 10px;
}
h3{
	font-family: 'Open Sans', sans-serif;
	color: #11999E;
	font-weight: normal;
}
p{
	line-height: 2
}
.skill-row{
	width: 50%;
	margin: 80px auto 80px auto;
	text-align: left;
	line-height: 1.5;	

}
.skillone{
	height: 25%;
	width: 25%;
	float: left;
	margin-right: 30px;
}
.skilltwo{
	height: 25%;
	width: 25%;
	float: right;
	margin-left: 30px;
}
.bottomcloud{
	position: absolute;
}
.topcloud{
	margin-left: 300px;
	position: absolute;
	top:100px;
	bottom: 400px;
	right: 400px;
}
.mountain{
	align-content: center;
}
hr{
	border: dotted #EAF6F6 6px;
	border-bottom: none;
	width: 4%;
	margin: 100px auto 100px auto;

}
.contact-me{
	line-height: 2;
	width: 40%;
	margin: 40px auto 40px auto;

}
.middlecontainer{
	margin: 100px 0 100px 0;
}
.bottom-container{
	background-color: #66BFBF;
	padding: 50px 0px 20px;
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: monsorat;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}

.footer-link{
	color: #11999E;
	margin: auto 20px auto 20px;
	text-decoration: none;
}
a:hover{
	color: #EAF6F6;
}
.copyright{
	color: white;
	font-size: 0.75em;
	padding: 20px 0 20px 0;
}
